{% extends 'base_front.html.twig' %}

{% block title %}Assurance {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <style>
        .text-shadow {
            text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
        }
        .custom-card {
        background-color: #DCDCDC		;
        border: 2px solid #A9A9A9	; }
    </style>
{% endblock %}

{% block body %}
<div class="container mt-5 text-center">
        <h1 class="display-4 font-weight-bold text-primary">
            <span class="text-shadow">Assurance liste</span>
        </h1>
    </div>

    <div class="container">
        <input type="text" id="searchInput" class="form-control mb-3" placeholder="Rechercher une assurance...">
        <div id="searchResults" class="card-columns">

        </div>
    </div>

  <div class="container">
    <div class="card-columns">
    
        {% for assurance in assurances %}
            <div  class="card custom-card mb-3">
                <div class="card-header">{{ assurance.NomAssurance }}</div>
                <div class="card-body">

                    <p class="card-text">Adresse: {{ assurance.adresseAssurance }}</p>
                    <p class="card-text">Code Postal: {{ assurance.codePostalAssurance }}</p>
                    <p class="card-text">Téléphone: {{ assurance.telAssurance }}</p>
                    <p class="card-text">Email: {{ assurance.emailAssurance }}</p>
                    <a href="{{ path('app_assurance_show', {'id': assurance.id}) }}" class="btn btn-primary btn-sm mr-2">Show</a>
                    <a href="{{ path('app_assurance_edit', {'id': assurance.id}) }}"  class="btn btn-primary btn-sm mr-2">Edit</a>
                </div>
            </div>
        {% else %}
            <p>No records found</p>
        {% endfor %}
    </div>
</div>

    <a href="{{ path('app_assurance_new') }}">Create new</a>

          <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#searchInput').on('input', function() {
                var query = $(this).val().toLowerCase();

                $.ajax({
                    url: '/search-assurances',
                    data: { query: query },
                    success: function(results) {
                        console.log('Results:', results);  // Log the results to the console
                        // Effacer les résultats précédents
                        $('#searchResults').empty();

                        if (results.length === 0) {
                            $('#searchResults').hide()
                            $('#normal').show();
                        } else {
                            // If there are results, display them
                            $.each(results, function(index, result) {
                                $('#normal').hide();

                                $('#searchResults').append('<div class="card custom-card mb-3"><div class="card-header">' + result.NomAssurance + '</div><div class="card-body"><p class="card-text">Adresse: ' + result.adresseAssurance + '</p><p class="card-text">Code Postal: ' + result.codePostalAssurance + '</p><p class="card-text">Téléphone: ' + result.telAssurance + '</p><p class="card-text">Email: ' + result.emailAssurance + '</p><a href="/assurance/' + result.id + '" class="btn btn-primary btn-sm mr-2">Show</a><a href="/assurance/' + result.id + '/edit" class="btn btn-primary btn-sm mr-2">Edit</a></div></div>');
                            });
                        }
                        
                    }
                });
            });
        });
    </script>

    
{% endblock %}



