{% extends 'base_front.html.twig' %}

{% block title %}Constat{% endblock %}

{% block body %}
<div class="container mt-4">

    <div class="container mt-5 text-center">
        <h1 class="display-4 font-weight-bold text-primary">
            <span class="text-shadow"> Détails du Constat</span>
        </h1>
    </div>

    <ul class="list-group mt-3">
        
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Heure:
            <span class="badge badge-primary badge-pill">{{ constat.heure ? constat.heure | date('H:i:s') : '' }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Localisation:
            <span class="badge badge-primary badge-pill">{{ constat.localisation }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Dégâts autres véhicules:
            <span class="badge badge-primary badge-pill">{{ constat.degatsAutreVehicule ? 'Oui' : 'Non' }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Dégâts autres objets:
            <span class="badge badge-primary badge-pill">{{ constat.degatsAutreObjets ? 'Oui' : 'Non' }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Témoins:
            <span class="badge badge-primary badge-pill">{{ constat.temoins }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Nom du preneur:
            <span class="badge badge-primary badge-pill">{{ constat.APreneurNom }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Prénom du preneur:
            <span class="badge badge-primary badge-pill">{{ constat.APreneurPrenom }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Adresse du preneur:
            <span class="badge badge-primary badge-pill">{{ constat.APreneurAdresse }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Code postal du preneur:
            <span class="badge badge-primary badge-pill">{{ constat.APreneurCodePostal }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Téléphone du preneur:
            <span class="badge badge-primary badge-pill">{{ constat.APreneurTel }}</span>
        </li>






        <li class="list-group-item d-flex justify-content-between align-items-center">
            A vehicule moteur marque:
            <span class="badge badge-primary badge-pill">{{ constat.AVehiculeMoteurMarque ? 'Oui' : 'Non' }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_vehicule_moteur_numImmatriculation:
            <span class="badge badge-primary badge-pill">{{ constat.AVehiculeMoteurNumImmatriculation }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Nom du A_vehicule_moteur_paysImmatriculation:
            <span class="badge badge-primary badge-pill">{{ constat.AVehiculeMoteurPaysImmatriculation }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_vehicule_remorque_numImmatriculation:
            <span class="badge badge-primary badge-pill">{{ constat.AVehiculeRemorqueNumImmatriculation }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_vehicule_remorque_paysImmatriculation:
            <span class="badge badge-primary badge-pill">{{ constat.AVehiculeRemorquePaysImmatriculation }}</span>
        </li>


       
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_societeAssurance_agence_nom:
            <span class="badge badge-primary badge-pill">{{ constat.ASocieteAssuranceAgenceNom }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_societeAssurance_agence_adresse:
            <span class="badge badge-primary badge-pill">{{ constat.ASocieteAssuranceAgenceAdresse }}</span>
        </li>

        
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_societeAssurance_agence_pays:
            <span class="badge badge-primary badge-pill">{{ constat.ASocieteAssuranceAgencePays }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_societeAssurance_agence_tel:
            <span class="badge badge-primary badge-pill">{{ constat.ASocieteAssuranceAgenceTel }}</span>
        </li>

        


        <li class="list-group-item d-flex justify-content-between align-items-center">
            A vehicule moteur marque:
            <span class="badge badge-primary badge-pill">{{ constat.AVehiculeMoteurMarque ? 'Oui' : 'Non' }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_vehicule_moteur_numImmatriculation:
            <span class="badge badge-primary badge-pill">{{ constat.AVehiculeMoteurNumImmatriculation }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Nom du A_vehicule_moteur_paysImmatriculation:
            <span class="badge badge-primary badge-pill">{{ constat.AVehiculeMoteurPaysImmatriculation }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_vehicule_remorque_numImmatriculation:
            <span class="badge badge-primary badge-pill">{{ constat.AVehiculeRemorqueNumImmatriculation }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_vehicule_remorque_paysImmatriculation:
            <span class="badge badge-primary badge-pill">{{ constat.AVehiculeRemorquePaysImmatriculation }}</span>
        </li>



        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_societeAssurance_degatsMaterielsAssureParContrat:
            <span class="badge badge-primary badge-pill">{{ constat.ASocieteAssuranceDegatsMaterielsAssureParContrat ? 'Oui' : 'Non' }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_conducteur_nom:
            <span class="badge badge-primary badge-pill">{{ constat.AConducteurNom }}</span>
        </li>
        
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_conducteur_prenom:
            <span class="badge badge-primary badge-pill">{{ constat.AConducteurPrenom }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_conducteur_dateNaissance:
            <span class="badge badge-primary badge-pill">{{ constat.AConducteurDateNaissance ? constat.AConducteurDateNaissance|date('Y-m-d') : '' }}</span>
        </li>

        
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_societeAssurance_agence_pays:
            <span class="badge badge-primary badge-pill">{{ constat.ASocieteAssuranceAgencePays }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_conducteur_adresse:
            <span class="badge badge-primary badge-pill">{{ constat.AConducteurAdresse }}</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_conducteur_pays:
            <span class="badge badge-primary badge-pill">{{ constat.AConducteurPays }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_conducteur_tel:
            <span class="badge badge-primary badge-pill">{{ constat.AConducteurTel }}</span>
        </li>
        
        
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_conducteur_numPermisComduite:
            <span class="badge badge-primary badge-pill">{{ constat.AConducteurNumPermisComduite }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_conducteur_categorie:
            <span class="badge badge-primary badge-pill">{{ constat.AConducteurCategorie }}</span>
        </li>

       
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_degats:
            <span class="badge badge-primary badge-pill">{{ constat.ADegats }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_observation:
            <span class="badge badge-primary badge-pill">{{ constat.AObservation }}</span>
        </li>







        <li class="list-group-item d-flex justify-content-between align-items-center">
            Nom du preneur:
            <span class="badge badge-primary badge-pill">{{ constat.BPreneurNom }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Prénom du preneur:
            <span class="badge badge-primary badge-pill">{{ constat.BPreneurPrenom }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Adresse du preneur:
            <span class="badge badge-primary badge-pill">{{ constat.BPreneurAdresse }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Code postal du preneur:
            <span class="badge badge-primary badge-pill">{{ constat.BPreneurCodePostal }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Téléphone du preneur:
            <span class="badge badge-primary badge-pill">{{ constat.BPreneurTel }}</span>
        </li>






        <li class="list-group-item d-flex justify-content-between align-items-center">
            A vehicule moteur marque:
            <span class="badge badge-primary badge-pill">{{ constat.BVehiculeMoteurMarque ? 'Oui' : 'Non' }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            A_vehicule_moteur_numImmatriculation:
            <span class="badge badge-primary badge-pill">{{ constat.BVehiculeMoteurNumImmatriculation }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Nom du A_vehicule_moteur_paysImmatriculation:
            <span class="badge badge-primary badge-pill">{{ constat.BVehiculeMoteurPaysImmatriculation }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
           B vehicule_remorque_numImmatriculation:
            <span class="badge badge-primary badge-pill">{{ constat.BVehiculeRemorqueNumImmatriculation }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B vehicule_remorque_paysImmatriculation:
            <span class="badge badge-primary badge-pill">{{ constat.BVehiculeRemorquePaysImmatriculation }}</span>
        </li>


        <li class="list-group-item d-flex justify-content-between align-items-center">
            B societeAssurance_nom:
            <span class="badge badge-primary badge-pill">{{ constat.BSocieteAssuranceNom }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
             B societeAssurance_numContrat:
            <span class="badge badge-primary badge-pill">{{ constat.BSocieteAssuranceNumContrat }}</span>
        </li>









        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_societeAssurance_numCarteVerte:
            <span class="badge badge-primary badge-pill">{{ constat.BSocieteAssuranceNumCarteVerte ? 'Oui' : 'Non' }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_societeAssurance_attestationValable_du:
            <span class="badge badge-primary badge-pill">{{ constat.BSocieteAssuranceAttestationValableDu ? constat.BSocieteAssuranceAttestationValableDu|date('Y-m-d') : '' }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
             B_societeAssurance_attestationValable_au:
            <span class="badge badge-primary badge-pill">{{ constat.BSocieteAssuranceAttestationValableAu ? constat.BSocieteAssuranceAttestationValableAu|date('Y-m-d') : '' }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_societeAssurance_agence_nom:
            <span class="badge badge-primary badge-pill">{{ constat.BSocieteAssuranceAgenceNom }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_societeAssurance_agence_adresse:
            <span class="badge badge-primary badge-pill">{{ constat.BSocieteAssuranceAgenceAdresse }}</span>
        </li>

        
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_societeAssurance_agence_pays:
            <span class="badge badge-primary badge-pill">{{ constat.BSocieteAssuranceAgencePays }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_societeAssurance_agence_tel:
            <span class="badge badge-primary badge-pill">{{ constat.BSocieteAssuranceAgenceTel }}</span>
        </li>

        


        <li class="list-group-item d-flex justify-content-between align-items-center">
            B vehicule moteur marque:
            <span class="badge badge-primary badge-pill">{{ constat.BVehiculeMoteurMarque ? 'Oui' : 'Non' }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B vehicule_moteur_numImmatriculation:
            <span class="badge badge-primary badge-pill">{{ constat.BVehiculeMoteurNumImmatriculation }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B vehicule_moteur_paysImmatriculation:
            <span class="badge badge-primary badge-pill">{{ constat.BVehiculeMoteurPaysImmatriculation }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_vehicule_remorque_numImmatriculation:
            <span class="badge badge-primary badge-pill">{{ constat.BVehiculeRemorqueNumImmatriculation }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_vehicule_remorque_paysImmatriculation:
            <span class="badge badge-primary badge-pill">{{ constat.BVehiculeRemorquePaysImmatriculation }}</span>
        </li>


        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_societeAssurance_nom:
            <span class="badge badge-primary badge-pill">{{ constat.BSocieteAssuranceNom }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_societeAssurance_numContrat:
            <span class="badge badge-primary badge-pill">{{ constat.BSocieteAssuranceNumContrat }}</span>
        </li>









        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_societeAssurance_degatsMaterielsAssureParContrat:
            <span class="badge badge-primary badge-pill">{{ constat.BSocieteAssuranceDegatsMaterielsAssureParContrat ? 'Oui' : 'Non' }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_conducteur_nom:
            <span class="badge badge-primary badge-pill">{{ constat.BConducteurNom }}</span>
        </li>
        
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_conducteur_prenom:
            <span class="badge badge-primary badge-pill">{{ constat.BConducteurPrenom }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_conducteur_dateNaissance:
            <span class="badge badge-primary badge-pill">{{ constat.BConducteurDateNaissance ? constat.AConducteurDateNaissance|date('Y-m-d') : '' }}</span>
        </li>

        
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_societeAssurance_agence_pays:
            <span class="badge badge-primary badge-pill">{{ constat.BSocieteAssuranceAgencePays }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_conducteur_adresse:
            <span class="badge badge-primary badge-pill">{{ constat.BConducteurAdresse }}</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_conducteur_pays:
            <span class="badge badge-primary badge-pill">{{ constat.BConducteurPays }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_conducteur_tel:
            <span class="badge badge-primary badge-pill">{{ constat.BConducteurTel }}</span>
        </li>
        
        
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_conducteur_numPermisComduite:
            <span class="badge badge-primary badge-pill">{{ constat.BConducteurNumPermisComduite }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_conducteur_categorie:
            <span class="badge badge-primary badge-pill">{{ constat.BConducteurCategorie }}</span>
        </li>

       
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_degats:
            <span class="badge badge-primary badge-pill">{{ constat.BDegats }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            B_observation:
            <span class="badge badge-primary badge-pill">{{ constat.BObservation }}</span>
        </li>
        
    </ul>


</div>
    <div class="mt-3">
        <a href="{{ path('app_constat_index') }}" class="btn btn-secondary">Retour à la liste</a>
        <a href="{{ path('app_constat_edit', {'id': constat.id}) }}" class="btn btn-primary">Modifier</a>
        <div class="btn btn-primary">
                {{ include('constat/_delete_form.html.twig') }}
        </div>

    </div>
{% endblock %}
