{% extends 'base.html.twig' %}

{% block title %}Offre index
{% endblock %}

{% block body %}


<style>
	.offer-badge {
		position: absolute;
		top: 0;
		left: 0;
		background-color: red;
		color: white;
		padding: 5px 10px;
		font-weight: bold;
	}
</style>

<h1>List des offres</h1>
<div class="row ">

	{% for offre in offres %}
	<div class="col-md-3 col-lg-3 mt-3">

		<div class="card">
			<div class="offer-badge">Offre</div>

			<a class='btn btn-secondary' href="{{ path('app_offre_show', {'id': offre.id}) }}">

				<div class="card-header">
					<h5>{{ offre.titre }}
						|
						{{ offre.assurance }}</h5>
					<span>
						{{ offre.description|slice(0, 30) ~ '...' }}
					</span>
				</div>
			</a>
			<div class="card-block">
				<div id="morris-site-visit">
					{{ offre.emailAssurance }}<br>{{ offre.numAssurance }}
				</div>
			</div>
		</div>
	</div>

	{% else %}
	<h5>Aucun offre</h5>
	{% endfor %}
</div>
<div class=""><a class="btn btn-primary" href="{{ path('app_offre_new') }}">Ajouter un offre</a>
</div>

{% endblock %}