{% extends 'base.html.twig' %}

{% block title %}Renouvellement Contrat
{% endblock %}

{% block body %}
<<<<<<< HEAD
	<h1>Edit</h1>

	{{ form_start(form) }}

	<h4>
		Contrat 
																						pour
=======
	<h1>Renouvellement</h1>

	{{ form_start(form) }}

	<h4>1er Contrat 
																		pour
>>>>>>> d167c0f7cd11baeaf686b21aaf2c13507097d88a
		{{contrat.client}}</h4>
	<div class="form-group row">

		<div class="col-sm-10"></div>
	</div>

	<div class="form-group row">

		<div class="col-sm-10">
			{{ form_widget(form.couverture, { 'attr': {'class': 'form-control form-control-capitalize' , 'hidden' :'hidden'  } }) }}
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">{{ form_label(form.prix) }}
			<b>TND</b>
		</label>
		<div class="col-sm-10 ">
			{{ form_widget(form.prix, { 'attr': {'class': 'form-control form-control-capitalize' } }) }}
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">{{ form_label(form.dateDebut) }}
			<b>TND</b>
		</label>
		<div class="col-sm-10 ">
			{{ form_widget(form.dateDebut, { 'attr': {'class': 'form-control form-control-capitalize' } }) }}
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label">{{ form_label(form.renew) }}
			<b>TND</b>
		</label>
		<div class="col-sm-10 ">
			{{ form_widget(form.renew, { 'attr': {'class': 'form-control form-control-capitalize' } }) }}
		</div>
	</div>


	<button class="btn btn-success">{{ button_label|default('Validé') }}</button>
	<br>
	<br>
	{{ form_end(form) }}

{% endblock %}
