{{ form_start(form) }}


<div class="form-group row">
	<label class="col-sm-2 col-form-label text-center">{{ form_label(form.contrat) }}
	</label>
	<div class="col-sm-10">
		{{ form_widget(form.contrat, { 'attr': {'class': 'form-control form-control-capitalize' , 'placeholder':'choisir votre client'} }) }}
	</div>
</div>


<button class="btn btn-primary m-3">{{ button_label|default('Suivant') }}</button>

{{ form_end(form) }}
