{% extends 'base.html.twig' %}

{% block title %}Facture index
{% endblock %}

{% block body %}

<div class="container">
    <div class="card p-5">

        <div class="card-header">
            <h1>List des Factures</h1>
            <form action="" method="get">
                <div class="row">
                    <div class="col-5"><input name="search" class="form-control" placeholder="entrer email d'un client"
                            type="search"></div>
                    <div class="col-2"><button class="btn btn-primary" type="submit">Recherche
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button></div>
                    <div class="col-1"></div>
                    <div class="col">
                        Trier par <b> Prix </b> :
                        <div class="row">
                            <a
                                href="{{ path('app_facture_index', { 'search': app.request.query.get('search'), 'sort': 'desc' }) }}">

                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                    class="bi bi-sort-down" viewBox="0 0 16 16">
                                    <path
                                        d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z" />
                                </svg>
                            </a>
                            <a
                                href="{{ path('app_facture_index', { 'search': app.request.query.get('search'), 'sort': 'asc' }) }}">

                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                    class="bi bi-sort-down-alt" viewBox="0 0 16 16">
                                    <path
                                        d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5" />
                                </svg>
                            </a>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="row">
                {% for f in factures %}

                <div class="col-xl-3 col-md-6">

                    {% if f.statut is null %}

                    <a href="etape2/{{f.id}}">

                        {% elseif f.statut == 0 %}
                        <a href="{{f.id}}">

                            {% else %}
                            <a href="{{f.id}}/ended">


                                {% endif %}
                                <div class="card">

                                    <div class="card-block">
                                        <div class="row align-items-center">
                                            <div class="col-8">


                                                <h6 class="text-muted m-b-0">Facture Ref°
                                                    {{f.id}}
                                                </h6>

                                                <h4 class="text-c-purple">{{f.totale}}
                                                    TND
                                                </h4>
                                                <h6 class="text-muted m-b-0">
                                                    {{f.CreatedAt|date('d-m-y')}}</h6>
                                                </p>
                                            </div>
                                            <div class="col-4 text-right">
                                                <i class="ti ti-file f-28"></i>
                                            </div>
                                        </div>
                                    </div>
                                    {% if f.statut is null %}
                                    <div class="card-footer bg-warning">
                                        <div class="row align-items-center">
                                            <div class="col-9">
                                                <p class="text-white m-b-0">Générer et non finis</p>
                                            </div>
                                            <div class="col-2  ">
                                                <a href="">
                                                    <i class="ti-trash"></i>
                                                </a>
                                            </div>
                                            <div class="col-1  ">
                                                <a href="">
                                                    <i class="ti-pencil-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {% elseif f.statut == true %}
                                    <div class="card-footer bg-c-green">
                                        <div class="row align-items-center">
                                            <div class="col-10">
                                                <p class="text-white m-b-0 ">
                                                    Envoyé
                                                    <i style="color: green;" class="ti-check"></i>
                                                </p>
                                            </div>
                                            <div class="col-1">
                                                <a href="">
                                                    <i class="ti-trash"></i>
                                                </a>
                                            </div>
                                            <div class="col-1">
                                                <a href="">
                                                    <i class="ti-pencil-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="card-footer bg-c-purple">
                                        <div class="row align-items-center">
                                            <div class="col-9">
                                                <p class="text-white m-b-0">prét pour continuer</p>

                                            </div>
                                            <div class="col-3 text-right"></div>
                                        </div>
                                    </div>


                                    {% endif %}


                                </div>
                </div>
                </a>


                {% else %}
                <h1>Insérer votre données</h1>

                {% endfor %}


<<<<<<< HEAD
                    {% endif %}
                    <div style="background-color: rgb(240, 240, 240);" class="card">
=======
            </div>
            <nav class="app-pagination mt-5">
                <ul class="pagination justify-content-center">
                    {{ knp_pagination_render(factures) }}
                </ul>
            </nav>
>>>>>>> d167c0f7cd11baeaf686b21aaf2c13507097d88a

            <div class="col-3">
                <a class="btn btn-primary" href="{{ path('app_facture_new') }}">Create new</a>

<<<<<<< HEAD

                                    <h6 class="text-muted m-b-0">Facture Ref°
                                        {{f.id}}
                                    </h6>

                                    <h4 class="text-c-purple">{{f.totale}}
                                        TND
                                    </h4>
                                    <h6 class="text-muted m-b-0">
                                        Envoyée le {{f.CreatedAt|date('d-M-Y')}}</h6>
                                    </p>
                                </div>
                                <div class="col-4 text-right">
                                    <i class="ti ti-file f-28"></i>
                                    {% if f.statut is null %}

                                    <p class="text-white m-b-0">Générer et non finis

                                    </p>




                                </div>
                            </div>
                            {% elseif f.statut == true %}

                            <b style="color: green;">Envoyé</b>



                            {% else %}

                            <p class="text-white m-b-0">prét pour continuer</p>



                            {% endif %}
                        </div>
                    </div>
    </div>

    <div class="col-1">
        <a href="/facture/delete/{{f.id}}">
            <i style="color: red;" class="ti ti-trash f-28"></i>
        </a>
    </div>

    </a> <button class="btn btn-secondary" onclick="printFrame('{{ f.id }}')">Imprimer
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-printer"
            viewBox="0 0 16 16">
            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1" />
            <path
                d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1" />
        </svg></button>
</div>
</a>
</div>
<iframe id="myFrame-{{f.id}}" src="{{ path('app_facture_show', { id: f.id }) }}" style="display: none;"></iframe>
</div>
</div>

<script>
    function printFrame(frameId) {
        var iframe = document.getElementById("myFrame-" + frameId);
        var iframeWindow = iframe.contentWindow;
        iframeWindow.print();
        console.log('aa')
    }
</script>

{% else %}
<h1>Insérer votre données</h1>

{% endfor %}


</div>


<div class="col-3">
    <a class="btn btn-primary" href="{{ path('app_facture_new') }}">Create new</a>

</div>
<nav class="app-pagination mt-5">
    <ul class="pagination justify-content-center">
        {{
        knp_pagination_render(factures)
        }}
    </ul>
</nav>
=======
            </div>
        </div>
    </div>
</div>

>>>>>>> d167c0f7cd11baeaf686b21aaf2c13507097d88a
{% endblock %}