{% extends 'base.html.twig' %}

{% block title %}Facture index
{% endblock %}

{% block body %}
<h1>List des Factures</h1>


<div class="row">
    {% for f in factures %}

    <div class="col-xl-3 col-md-6">

        {% if f.statut is null %}

        <a href="etape2/{{f.id}}">

            {% elseif f.statut == 0 %}
            <a href="{{f.id}}">

                {% else %}
                <a href="{{f.id}}/ended">


                    {% endif %}
                    <div style="background-color: rgb(221, 220, 220);" class="card">

                        <div class="card-block">
                            <div class="row align-items-center">
                                <div class="col-8">


                                    <h6 class="text-muted m-b-0">Facture Ref°
                                        {{f.id}}
                                    </h6>

                                    <h4 class="text-c-purple">{{f.totale}}
                                        TND
                                    </h4>
                                    <h6 class="text-muted m-b-0">
                                        Envoyée le {{f.CreatedAt|date('d-M-Y')}}</h6>
                                    </p>
                                </div>
                                <div class="col-4 text-right">
                                    <i class="ti ti-file f-28"></i>
                                    {% if f.statut is null %}

                                    <p class="text-white m-b-0">Générer et non finis

                                    </p>




                                </div>
                            </div>
                            {% elseif f.statut == true %}

                            <b>Envoyé</b>



                            {% else %}

                            <p class="text-white m-b-0">prét pour continuer</p>



                            {% endif %}
                        </div>
                    </div>
    </div>

    <div class="col-1">
        <a href="facture/delete/{{f.id}}">
            <i style="color: red;" class="ti ti-trash f-28"></i>
        </a>
    </div>

    </a> <button class="btn btn-secondary" onclick="printFrame('{{ f.id }}')">Imprimer
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-printer"
            viewBox="0 0 16 16">
            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1" />
            <path
                d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1" />
        </svg></button>
</div>
</a>
</div>
<iframe id="myFrame-{{f.id}}" src="{{ path('app_facture_show', { id: f.id }) }}" style="display: none;"></iframe>
</div>
</div>



{% else %}
<h1>Insérer votre données</h1>

{% endfor %}


</div>


<div class="col-3">
    <a class="btn btn-primary" href="{{ path('app_facture_new') }}">Create new</a>

</div>
{% endblock %}